body {
	background-color: #fff;
	font-size: 100%;
}

.wrapper {
	margin: 0 auto;
	max-width: 768px;
}

.catalog h1,
article h1,
.contacts h1 {
	font-size: 2rem;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
}
.catalog h1,
.contacts h1,
.top_text p {
	color: #fff;
}
article h1 {
	color: #000;
}


/* global */
.top_content,
.catalog,
.contacts {
	background-color: #363636;
}
.top_img img:hover,
.top_article img:hover,
.bottom_article_img img:hover {
-moz-transform: matrix(2, 0, 0, 2, 0, 0);
    -webkit-transform: matrix(2, 0, 0, 2, 0, 0);
    -o-transform: matrix(2, 0, 0, 2, 0, 0);
    -ms-transform: matrix(2, 0, 0, 2, 0, 0);
}
/*header*/
header {
	background-color: #d7d7d7;
	height: 50px;
}
header img {
	background-color: azure;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	padding: 6px;
}
nav {
	float: right;
}
nav ul {
	display: flex;
	padding-top: 25px;
}
nav ul li {
	padding-right: 15px;
}
nav a:hover {
	color: azure;
}
/* top_content */
.top_content {
	border-bottom: 1px solid #949494;
	border-top: 1px solid #949494;
	height: 200px;
}
.top_text {
	float: left;
	margin-left: 16px;
	margin-top: 50px;
	width: 48%;
}
.top_text p {
	font-size: 0.875rem;
	padding-bottom: 20px;
	text-transform: uppercase;
	text-shadow: 0px 1px 2px black;
}
.top_img {
	float: right;
	width: 48%;
}
.top_img img {
	height: 155px;
	margin-left: 50px;
	margin-top: 22px; 
	width: 305px;
}

/* slider */
.slider {
	background-color: #f2f2f2;
	height: 420px;
}
.slider_text {
	padding-top: 15px;
	text-align: center;
}
.slider_text h1,
.slider_text p {
	color: #444;
}
.slider_text p {
	padding-top: 5px;
}
.slider hr {
	background-color: #b6b6b6;
	height: 3px;
	margin-top: 20px;
}
.slider_img {
	display: flex;
	margin: 30px 15px;
	text-align: center;
}
.slider_img figure:first-child {
	margin-left: 0;
}
.slider_img figure {
	margin-left: 40px;
}
.slider_img img {
	border: 2px solid #cccaca;
	background-color: #fff;
	height: 130px;
	padding: 5px;
	width: 140px;
}
.slider_img figure p {
	margin-bottom: 10px;
}
.navigation {
	position: absolute;
}
.navigation span {
	cursor: default;
	display: block;
	height: 22px;
	position: relative;
	top: -135px;
	width: 32px;
}
.navigation span.prev {
	background:  url(../img/arrows.png) no-repeat;
	float: left;
	right: 30px;
}
.navigation span.next {
	background:  url(../img/arrows.png) no-repeat 100% 0;
	left: 763px;	
}
.thumbnails {
	text-align: center;
}
.thumbnails li {
	background-color: #555;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	display: inline-flex;
	height: 20px;
	position: relative;
	width: 20px;
}

/* catalog */
.catalog {
	height: 300px;
}

/* about us */
article {
	background-color: #f2f2f2;
	height: 500px;
	text-align: justify;
}
article img {
	border: 1px solid #e4e4e4;
	background-color: #fff;
}
.top_article img {
	float: left;
	margin-right: 20px;
}
.bottom_article_img {
	float: right;
	margin-left: 20px;
}
.bottom_article_img img {
	margin-bottom: 10px;
}

/* contacts */
.contacts {
	height: 400px;
}
.left_list {
	float: left;
	width: 25%;
}
.left_list li,
.right_list li {
	padding-bottom: 10px;
}
.contacts_img {
	float: left;
	width: 25%;
}
.contacts img {
	border: 2px solid #cccaca;
	height: 262px;	
	width: 350px;
}
.right_list {
	float: right;
	width: 25%;
}

/* footer */
footer {
	height: 200px;
	background-color: #f2f2f2;
}
.boxes {
	display: inline-flex;
	flex-direction: column;
	width: 32%;
}