@charset "UTF-8";
@font-face {
  font-family: 'playball';
  src: url("../fonts/playball/playball.eot");
  src: url("ptsans-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/playball/playball.woff") format("woff"), url("../fonts/playball/playball.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\0000311}}
body {
  background-color: #fff;
  font-family: 'playball';
  font-size: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\0000317}}
.wrapper {
  margin: 0 auto;
  max-width: 776px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\0000322}}
.catalog h2,
article h2 {
  font-size: 2rem;
  padding-bottom: 15px;
  text-align: center; }

/* global */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\0000331}}
.top_content,
.slider,
.catalog,
article,
.contacts {
  padding: 20px 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\0000339}}
.top_article img:hover,
.bottom_article_img img:hover {
  -moz-transform: matrix(2, 0, 0, 2, 0, 0);
  -webkit-transform: matrix(2, 0, 0, 2, 0, 0);
  -o-transform: matrix(2, 0, 0, 2, 0, 0);
  -ms-transform: matrix(2, 0, 0, 2, 0, 0); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\0000347}}
.top_img img,
.catalog_img img,
article img,
.contacts img {
  border: 3px solid #cccaca; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\0000353}}
.navigation span.next,
.navigation span.prev,
.pagination li {
  cursor: pointer; }

/* ================ header ================ */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\0000360}}
header {
  background-color: #00A1D2;
  padding-bottom: 5px;
  position: relative; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\0000365}}
header img {
  background-color: #00A1D2;
  border-radius: 30px;
  padding: 6px;
  position: absolute;
  top: 6px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\0000372}}
nav {
  float: right; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\0000375}}
nav ul {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 25px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\0000385}}
nav ul li {
  padding-right: 15px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\0000388}}
nav ul li:last-child {
  padding-right: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\0000391}}
nav a {
  color: #fff; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\0000394}}
nav a:hover {
  color: darkorange; }

/* ================ top_content ================ */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003100}}
.top_content {
  background: url(../img/grey_wash_wall.png); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003103}}
.top_text {
  float: left;
  margin-top: 50px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003107}}
.top_text p {
  color: #fff;
  font-size: 0.875rem;
  padding-bottom: 20px;
  text-transform: uppercase; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003113}}
.top_content img {
  float: right; }

/* ================ slider ================ */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003119}}
.slider {
  background-color: #f2f2f2;
  text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003123}}
.slider_text h1 {
  color: #000;
  font-size: 1.125rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003127}}
.slider_text h2 {
  color: #444;
  font-size: 1rem;
  font-weight: normal; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003132}}
.slider_text h2 {
  padding-top: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003135}}
.slider_img a {
  margin-right: 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003138}}
.slider_img a:last-child {
  margin-right: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003141}}
.slider_img {
  border-top: 3px solid #b6b6b6;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 12px;
  padding-top: 30px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003153}}
.slider_img img {
  background-color: #fff;
  border: 3px solid #00A1D2;
  display: block;
  height: 130px;
  padding: 10px;
  width: 140px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003161}}
.slider_img img:hover {
  background-color: #0DBFF5; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003164}}
.item_name {
  color: #00A1D2;
  display: block;
  padding-top: 10px; }

/* navigation */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003170}}
.navigation {
  position: absolute; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003173}}
.navigation span {
  cursor: default;
  display: block;
  height: 22px;
  position: relative;
  top: -155px;
  width: 32px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003181}}
.navigation span.prev {
  background: url(../img/arrows.png) no-repeat;
  float: left;
  right: 30px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003186}}
.navigation span.next {
  background: url(../img/arrows.png) no-repeat 100% 0;
  left: 770px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003190}}
.pagination li {
  background-color: #024FF3;
  border-radius: 50px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 20px;
  margin-left: 10px;
  width: 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003201}}
.pagination li:hover {
  background-color: #00C4FF; }

/* ================ catalog ================ */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003206}}
.catalog {
  background-color: #363636; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003209}}
.catalog h2 {
  color: red; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003212}}
.catalog table {
  float: left;
  width: 56%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003216}}
.catalog table thead {
  margin-bottom: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003219}}
.catalog table th,
.catalog table td {
  border: 1px solid grey;
  color: #fff;
  padding: 4px 5px;
  vertical-align: middle; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003226}}
.catalog table .bg_color {
  background-color: #585757; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003229}}
.catalog table tr:hover {
  background-color: #999; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003232}}
.catalog .delete_img {
  color: red; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003235}}
.catalog .add_img {
  color: #06FF06; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003238}}
.catalog_img {
  float: right; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003241}}
.catalog_pages {
  margin-top: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003244}}
.catalog_pages a {
  background-color: #444;
  border-radius: 10px;
  color: #fff;
  padding: 5px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003250}}
.catalog_pages a:hover {
  background-color: #777;
  color: red; }

/* ================ about us ================ */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003256}}
article {
  background-color: #064954;
  text-align: justify; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003260}}
article img {
  background-color: #fff;
  border-radius: 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003264}}
.top_article img {
  float: left;
  margin-right: 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003268}}
.bottom_article_img {
  float: right;
  margin-left: 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003272}}
.bottom_article_img img {
  margin-bottom: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003275}}
.small_img img {
  margin-bottom: 0; }

/* =============== contacts (form) =============== */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003280}}
.contacts {
  background-color: #1F1D1D; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003283}}
.contacts form {
  text-align: center;
  margin-right: 20px;
  float: left;
  width: 400px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003289}}
.contacts h2,
.contacts form h3 {
  color: #00a1d2;
  margin-bottom: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003295}}
.contacts form label {
  color: #E8DB25;
  float: left;
  text-align: left;
  width: 30%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003301}}
.contacts form input {
  border: 1px solid #00a1d2;
  border-radius: 10px;
  margin-bottom: 10px;
  padding-left: 5px;
  outline: none;
  width: 195px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003309}}
.contacts form input:focus,
.contacts form textarea:focus {
  background: -webkit-repeating-linear-gradient(135deg, #fff, #fff 25px, #e2edc1 25px, #e2edc1 50px) fixed;
  background: repeating-linear-gradient(-45deg, #fff, #fff 25px, #e2edc1 25px, #e2edc1 50px) fixed; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003314}}
.contacts textarea {
  margin: 20px 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003317}}
#buttons input {
  background-color: #00a1d2;
  border-radius: 10px;
  border: none;
  margin: 0 24px;
  padding: 5px;
  width: 110px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003325}}
#buttons input:hover {
  background-color: #75DFFF;
  border: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003329}}
.contacts img {
  margin-top: 50px; }

/* =============== footer =============== */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003336}}
footer {
  height: 150px;
  background-color: #064954; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003340}}
.boxes {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 20px 0; }

/* sprites */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003353}}
.social {
  margin-right: 5%;
  text-align: center;
  width: 36%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003358}}
.social p {
  color: #25A707;
  font-size: 1.125rem;
  font-weight: bold; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003363}}
.social a {
  float: left;
  margin-top: 15px;
  margin-right: 5px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003368}}
.fb,
.fb:hover,
.rss,
.rss:hover,
.tw,
.tw:hover,
.utube,
.utube:hover,
.vk,
.vk:hover {
  border-radius: 30px;
  height: 50px;
  width: 50px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003382}}
.fb {
  background: url(../img/social-sprite.png) 2% 91%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003385}}
.fb:hover {
  background: url(../img/social-sprite.png) 2% 50%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003388}}
.rss {
  background: url(../img/social-sprite.png) 59.6% 91%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003391}}
.rss:hover {
  background: url(../img/social-sprite.png) 59.6% 50%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003394}}
.tw {
  background: url(../img/social-sprite.png) 79% 91%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003397}}
.tw:hover {
  background: url(../img/social-sprite.png) 79% 50%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003400}}
.utube {
  background: url(../img/social-sprite.png) 98% 91%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003403}}
.utube:hover {
  background: url(../img/social-sprite.png) 98% 50%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003406}}
.vk {
  background: url(../img/social-sprite.png) 88.7% 91%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003409}}
.vk:hover {
  background: url(../img/social-sprite.png) 88.7% 50%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003413}}
.footer_nav {
  float: right; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003416}}
.footer_nav li {
  float: left;
  margin-left: 10px;
  text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003421}}
.footer_nav a {
  border-radius: 10px;
  background-color: #363636;
  color: #25A707;
  padding: 5px;
  width: 70px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003428}}
.footer_nav a:hover {
  color: #363636;
  background-color: #3EF115; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003432}}
.footer_bttm {
  text-align: center; }

/* ========== admin panel ========== */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003437}}
.admin_panel {
  background-color: blue;
  padding: 5px;
  position: fixed;
  left: -3%;
  top: 50%;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  text-align: center;
  width: 120px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003449}}
.admin_panel:hover {
  margin-left: 400px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003452}}
.admin_content {
  background-color: #fff;
  height: 200px;
  position: absolute;
  right: -135px;
  margin-top: 100px;
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  width: 400px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003463}}
.admin_content legend {
  margin: 10px 0 30px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003466}}
.admin_content input {
  margin-bottom: 30px;
  width: 100px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003470}}
.admin_content input[type="button"] {
  width: 80px; }

/* ========== product info (overlay) ==========*/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003476}}
.overlay {
  background: url(../img/overlay.png);
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003485}}
dialog {
  background: #fff;
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  margin-left: -350px;
  padding: 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 700px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003499}}
.product_description img {
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
  text-align: justify; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003505}}
dialog form {
  margin: 10px 0;
  float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003509}}
dialog .timer {
  float: right; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003512}}
dialog .box {
  font-size: 30px;
  border: 3px outset #D8C9C9;
  border-radius: 5px;
  box-shadow: 0px 0px 6px 1px #000000 inset;
  padding: 10px 5px;
  position: relative; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003520}}
dialog .q {
  border: none;
  box-shadow: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003524}}
dialog .box:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  height: 1px;
  width: 100%;
  background: #fff; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003534}}
dialog .q:before {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/sass\/_style\.scss}line{font-family:\00003538}}
.clearfix {
  clear: both; }

/*float ╨╡╤ü╨╗╨╕ ╨╝╤ï ╨╕╤ü╨┐╨╛╨╗╤î╨╖╤â╨╡╨╝ ╤ü╨▓╨╛╨╣╤ü╤é╨▓╨╛ float - ╨╛╨▒╤é╨╡╨║╨░╨╜╨╕╨╡ ╤ì╨╗╨╡╨╝╨╡╨╜╤é╨╛╨▓, ╤é╨╛ ╨┐╨╛╤ü╨╗╨╡ ╨╜╨░╨┤╨╛ ╤ü╨╛╨╖╨┤╨░╤é╤î ╨▒╨╗╨╛╨║ div ╨╕ ╨┐╤Ç╨╛╨┐╨╕╤ü╨░╤é╤î ╨╡╨╝╤â clear:both;*/
/*╤â ╤ä╨╛╤Ç╨╝╤ï ╤â╨▒╤Ç╨░╤é╤î ╤ü╤é╨░╨╜╨┤╨░╤Ç╤é╨╜╤ï╨╡ ╨╜╨░╤ü╤é╤Ç╨╛╨╣╨║╨╕*/
/*http://subtlepatterns.com - backgrouns for site*/
/*caniuse.com for ms, moz, webkit - ╨║╤Ç╨╛╤ü╤ü╨▒╤Ç╨░╤â╨╖╨╡╤Ç╨╜╨╛╤ü╤é╤î*/
