@font-face {
    font-family: 'playball';
    src: url('../fonts/playball/playball.eot');
    src: url('ptsans-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/playball/playball.woff') format('woff'),
         url('../fonts/playball/playball.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;
}

body {
	background-color: #fff;
	font-family: 'playball';
	font-size: 100%;
}

.wrapper {
	margin: 0 auto;
	max-width: 776px;
}

.catalog h1,
article h1,
.contacts h1 {
	font-size: 2rem;
	padding-bottom: 15px;
	text-align: center;
}

/* global */

.top_content,
.slider,
.catalog,
article,
.contacts {
	padding: 20px 0;
	overflow: auto;
}

.top_content,
.catalog,
.contacts {
	background-color: #363636;
}

.top_article img:hover,
.bottom_article_img img:hover {
	-moz-transform: matrix(2, 0, 0, 2, 0, 0);
    -webkit-transform: matrix(2, 0, 0, 2, 0, 0);
    -o-transform: matrix(2, 0, 0, 2, 0, 0);
    -ms-transform: matrix(2, 0, 0, 2, 0, 0);
}

.top_img img,
.catalog_img img,
article img,
.contacts img {
	border: 3px solid #cccaca;
}


/* ================ header ================ */
header {
	background-color: #d7d7d7;
	height: 50px;
}
header img {
	background-color: azure;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	padding: 6px;
}
nav {
	float: right;
}
nav ul {
	display: flex;
	padding-top: 25px;
}
nav ul li {
	padding-right: 15px;
}
nav ul li:last-child{
	padding-right: 0;
}
nav a:hover {
	color: darkorange;
}


/* ================ top_content ================ */
.top_content {
	border-bottom: 1px solid #949494;
	border-top: 1px solid #949494;
}
.top_text {
	float: left;
	margin-top: 50px;
}
.top_text p {
	color: #fff;
	font-size: 0.875rem;
	padding-bottom: 20px;
	text-transform: uppercase;
}
.top_content img {
	float: right;
}


/* ================ slider ================ */
.slider {
	background-color: #f2f2f2;
	text-align: center;
}
.slider_text h1,
.slider_text p {
	color: #444;
}
.slider_text p {
	padding-top: 5px;
}
.slider hr {
	background-color: #b6b6b6;
	height: 3px;
	margin-top: 20px;
}
.slider_img {
	background-color: #fff;
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;
	margin: 12px;
}
.slider_img img {
	border: 3px solid #00A1D2;
	height: 130px;
	padding: 10px;
	width: 140px;
}
.slider_img a:hover {
	background-color: #0DBFF5;
}
.slider_img a {
	color: #b6b6b6;
}
.item_name {
	background-color: #f2f2f2;
	color: #00A1D2;
	display: block;
	padding-top: 10px;
}
/* navigation */
.navigation {
	position: absolute;
}
.navigation span {
	cursor: default;
	display: block;
	height: 22px;
	position: relative;
	top: -175px;
	width: 32px;
}
.navigation span.prev {
	background:  url(../img/arrows.png) no-repeat;
	float: left;
	right: 30px;
}
.navigation span.next {
	background:  url(../img/arrows.png) no-repeat 100% 0;
	left: 770px;	
}
.pagination li {
	background-color: #024FF3;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	display: inline-flex;
	height: 20px;
	margin-left: 10px;
	width: 20px;
}

/* ================ catalog ================ */
.catalog h1 {
	color: red;
}
.catalog table {
	float: left;
	width: 56%;
}
.catalog table th,
.catalog table td {
	color: #fff;
	padding-bottom: 5px;
	padding-left: 7px;
}
.catalog_img {
	float: right;
}

/* ================ about us ================ */
article {
	background-color: #f2f2f2;
	text-align: justify;
}
article img {
	background-color: #fff;
}
.top_article img {
	float: left;
	margin-right: 20px;
}
.bottom_article_img {
	float: right;
	margin-left: 20px;
}
.bottom_article_img img {
	margin-bottom: 10px;
}
.small_img img {
	margin-bottom: 0;
}

/* =============== contacts =============== */
.contacts form {
	text-align: center;
	margin: 0 167px;
}
.contacts h1,
.contacts form h2 {
	color: #00a1d2;
	margin-bottom: 10px;
}

.contacts form label {
	color: #a8a7a8;
	float: left;
	text-align: left;
	width: 30%;
}
.contacts form input {
	margin-bottom: 10px;
	width: 195px;
}





/* =============== footer =============== */
footer {
	height: 200px;
	background-color: #f2f2f2;
}
.boxes {
	display: inline-flex;
	flex-direction: column;
	width: 32%;
}

/*make a footer 1st column - text then social(vk, facebook etc) img-sprite*/
/*float если мы используем свойство float - обтекание элементов, то после надо создать блок div и прописать ему clear:both;*/