table {
  width: 150px;
}
td, th, tr {
  border: 1px solid red;
}

::-webkit-input-placeholder {color:#c0392b;}
::-moz-placeholder          {color:#c0392b;}/* Firefox 19+ */
:-moz-placeholder           {color:#c0392b;}/* Firefox 18- */
:-ms-input-placeholder      {color:#c0392b;}

#fieldset {
  width: 400px;
  border: 2px dotted red;
}
/*in catalog we have to make a table: 1st - name of the product second + third - whiz 10 td*/
/*http://master-css.com/demo/form/*/