@charset "UTF-8";
/* 12 */
/* ╨╖╨░╨┤╨░╨╗╨╕ ╨┤╨╕╨░╨┐╨░╨╖╨╛╨╜ ╨╛╤é 1 ╨┤╨╛ 16*/
/* 100/i (╨║╨╛╤é╨╛╤Ç╨╛╨╡ ╤Ç╨░╨▓╨╜╨╛ ╨╛╤é 1 ╨┤╨╛ 16)*/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/lessons\/4\.19\.16\/sass\/main\.scss}line{font-family:\0000315}}
.grd-step-column1 {
  /*╨╜╨░╨╖╨▓╨░╨╜╨╕╨╡ ╨║╨╛╨╗╨╛╨╜╨║╨╕ ╨╛╤é 1 ╨┤╨╛ 16*/
  width: 6.25%
  /* ╨║ ╤ê╨╕╤Ç╨╕╨╜╨╡ ╨┤╨╛╨▒╨░╨▓╨╕╨╗╨╕ 100/i* ╨╕ ╤é╨░╨║ ╨┤╨╛ 16 1╤Å-100%, 2╤Å- 93,75%, 3╤Å-87,5% 4╤Å-81,125% ╨╕ ╤é.╨┤. (╨╛╤é 100 ╨╛╤é╨╜╨╕╨╝╨░╨╡╨╝ 6,25, ╨╛╤é ╤ü╨╗╨╡╨┤ ╨╖╨╜╨░╤ç - 6,25 ╨╕ ╤é.╨┤)*/ }

/* ╨╖╨░╨┤╨░╨╗╨╕ ╨┤╨╕╨░╨┐╨░╨╖╨╛╨╜ ╨╛╤é 1 ╨┤╨╛ 16*/
/* 100/i (╨║╨╛╤é╨╛╤Ç╨╛╨╡ ╤Ç╨░╨▓╨╜╨╛ ╨╛╤é 1 ╨┤╨╛ 16)*/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/lessons\/4\.19\.16\/sass\/main\.scss}line{font-family:\0000315}}
.grd-step-column2 {
  /*╨╜╨░╨╖╨▓╨░╨╜╨╕╨╡ ╨║╨╛╨╗╨╛╨╜╨║╨╕ ╨╛╤é 1 ╨┤╨╛ 16*/
  width: 12.5%
  /* ╨║ ╤ê╨╕╤Ç╨╕╨╜╨╡ ╨┤╨╛╨▒╨░╨▓╨╕╨╗╨╕ 100/i* ╨╕ ╤é╨░╨║ ╨┤╨╛ 16 1╤Å-100%, 2╤Å- 93,75%, 3╤Å-87,5% 4╤Å-81,125% ╨╕ ╤é.╨┤. (╨╛╤é 100 ╨╛╤é╨╜╨╕╨╝╨░╨╡╨╝ 6,25, ╨╛╤é ╤ü╨╗╨╡╨┤ ╨╖╨╜╨░╤ç - 6,25 ╨╕ ╤é.╨┤)*/ }

/* ╨╖╨░╨┤╨░╨╗╨╕ ╨┤╨╕╨░╨┐╨░╨╖╨╛╨╜ ╨╛╤é 1 ╨┤╨╛ 16*/
/* 100/i (╨║╨╛╤é╨╛╤Ç╨╛╨╡ ╤Ç╨░╨▓╨╜╨╛ ╨╛╤é 1 ╨┤╨╛ 16)*/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/lessons\/4\.19\.16\/sass\/main\.scss}line{font-family:\0000315}}
.grd-step-column3 {
  /*╨╜╨░╨╖╨▓╨░╨╜╨╕╨╡ ╨║╨╛╨╗╨╛╨╜╨║╨╕ ╨╛╤é 1 ╨┤╨╛ 16*/
  width: 18.75%
  /* ╨║ ╤ê╨╕╤Ç╨╕╨╜╨╡ ╨┤╨╛╨▒╨░╨▓╨╕╨╗╨╕ 100/i* ╨╕ ╤é╨░╨║ ╨┤╨╛ 16 1╤Å-100%, 2╤Å- 93,75%, 3╤Å-87,5% 4╤Å-81,125% ╨╕ ╤é.╨┤. (╨╛╤é 100 ╨╛╤é╨╜╨╕╨╝╨░╨╡╨╝ 6,25, ╨╛╤é ╤ü╨╗╨╡╨┤ ╨╖╨╜╨░╤ç - 6,25 ╨╕ ╤é.╨┤)*/ }

/* ╨╖╨░╨┤╨░╨╗╨╕ ╨┤╨╕╨░╨┐╨░╨╖╨╛╨╜ ╨╛╤é 1 ╨┤╨╛ 16*/
/* 100/i (╨║╨╛╤é╨╛╤Ç╨╛╨╡ ╤Ç╨░╨▓╨╜╨╛ ╨╛╤é 1 ╨┤╨╛ 16)*/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/lessons\/4\.19\.16\/sass\/main\.scss}line{font-family:\0000315}}
.grd-step-column4 {
  /*╨╜╨░╨╖╨▓╨░╨╜╨╕╨╡ ╨║╨╛╨╗╨╛╨╜╨║╨╕ ╨╛╤é 1 ╨┤╨╛ 16*/
  width: 25%
  /* ╨║ ╤ê╨╕╤Ç╨╕╨╜╨╡ ╨┤╨╛╨▒╨░╨▓╨╕╨╗╨╕ 100/i* ╨╕ ╤é╨░╨║ ╨┤╨╛ 16 1╤Å-100%, 2╤Å- 93,75%, 3╤Å-87,5% 4╤Å-81,125% ╨╕ ╤é.╨┤. (╨╛╤é 100 ╨╛╤é╨╜╨╕╨╝╨░╨╡╨╝ 6,25, ╨╛╤é ╤ü╨╗╨╡╨┤ ╨╖╨╜╨░╤ç - 6,25 ╨╕ ╤é.╨┤)*/ }

/* ╨╖╨░╨┤╨░╨╗╨╕ ╨┤╨╕╨░╨┐╨░╨╖╨╛╨╜ ╨╛╤é 1 ╨┤╨╛ 16*/
/* 100/i (╨║╨╛╤é╨╛╤Ç╨╛╨╡ ╤Ç╨░╨▓╨╜╨╛ ╨╛╤é 1 ╨┤╨╛ 16)*/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/lessons\/4\.19\.16\/sass\/main\.scss}line{font-family:\0000315}}
.grd-step-column5 {
  /*╨╜╨░╨╖╨▓╨░╨╜╨╕╨╡ ╨║╨╛╨╗╨╛╨╜╨║╨╕ ╨╛╤é 1 ╨┤╨╛ 16*/
  width: 31.25%
  /* ╨║ ╤ê╨╕╤Ç╨╕╨╜╨╡ ╨┤╨╛╨▒╨░╨▓╨╕╨╗╨╕ 100/i* ╨╕ ╤é╨░╨║ ╨┤╨╛ 16 1╤Å-100%, 2╤Å- 93,75%, 3╤Å-87,5% 4╤Å-81,125% ╨╕ ╤é.╨┤. (╨╛╤é 100 ╨╛╤é╨╜╨╕╨╝╨░╨╡╨╝ 6,25, ╨╛╤é ╤ü╨╗╨╡╨┤ ╨╖╨╜╨░╤ç - 6,25 ╨╕ ╤é.╨┤)*/ }

/* ╨╖╨░╨┤╨░╨╗╨╕ ╨┤╨╕╨░╨┐╨░╨╖╨╛╨╜ ╨╛╤é 1 ╨┤╨╛ 16*/
/* 100/i (╨║╨╛╤é╨╛╤Ç╨╛╨╡ ╤Ç╨░╨▓╨╜╨╛ ╨╛╤é 1 ╨┤╨╛ 16)*/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/lessons\/4\.19\.16\/sass\/main\.scss}line{font-family:\0000315}}
.grd-step-column6 {
  /*╨╜╨░╨╖╨▓╨░╨╜╨╕╨╡ ╨║╨╛╨╗╨╛╨╜╨║╨╕ ╨╛╤é 1 ╨┤╨╛ 16*/
  width: 37.5%
  /* ╨║ ╤ê╨╕╤Ç╨╕╨╜╨╡ ╨┤╨╛╨▒╨░╨▓╨╕╨╗╨╕ 100/i* ╨╕ ╤é╨░╨║ ╨┤╨╛ 16 1╤Å-100%, 2╤Å- 93,75%, 3╤Å-87,5% 4╤Å-81,125% ╨╕ ╤é.╨┤. (╨╛╤é 100 ╨╛╤é╨╜╨╕╨╝╨░╨╡╨╝ 6,25, ╨╛╤é ╤ü╨╗╨╡╨┤ ╨╖╨╜╨░╤ç - 6,25 ╨╕ ╤é.╨┤)*/ }

/* ╨╖╨░╨┤╨░╨╗╨╕ ╨┤╨╕╨░╨┐╨░╨╖╨╛╨╜ ╨╛╤é 1 ╨┤╨╛ 16*/
/* 100/i (╨║╨╛╤é╨╛╤Ç╨╛╨╡ ╤Ç╨░╨▓╨╜╨╛ ╨╛╤é 1 ╨┤╨╛ 16)*/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/lessons\/4\.19\.16\/sass\/main\.scss}line{font-family:\0000315}}
.grd-step-column7 {
  /*╨╜╨░╨╖╨▓╨░╨╜╨╕╨╡ ╨║╨╛╨╗╨╛╨╜╨║╨╕ ╨╛╤é 1 ╨┤╨╛ 16*/
  width: 43.75%
  /* ╨║ ╤ê╨╕╤Ç╨╕╨╜╨╡ ╨┤╨╛╨▒╨░╨▓╨╕╨╗╨╕ 100/i* ╨╕ ╤é╨░╨║ ╨┤╨╛ 16 1╤Å-100%, 2╤Å- 93,75%, 3╤Å-87,5% 4╤Å-81,125% ╨╕ ╤é.╨┤. (╨╛╤é 100 ╨╛╤é╨╜╨╕╨╝╨░╨╡╨╝ 6,25, ╨╛╤é ╤ü╨╗╨╡╨┤ ╨╖╨╜╨░╤ç - 6,25 ╨╕ ╤é.╨┤)*/ }

/* ╨╖╨░╨┤╨░╨╗╨╕ ╨┤╨╕╨░╨┐╨░╨╖╨╛╨╜ ╨╛╤é 1 ╨┤╨╛ 16*/
/* 100/i (╨║╨╛╤é╨╛╤Ç╨╛╨╡ ╤Ç╨░╨▓╨╜╨╛ ╨╛╤é 1 ╨┤╨╛ 16)*/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/lessons\/4\.19\.16\/sass\/main\.scss}line{font-family:\0000315}}
.grd-step-column8 {
  /*╨╜╨░╨╖╨▓╨░╨╜╨╕╨╡ ╨║╨╛╨╗╨╛╨╜╨║╨╕ ╨╛╤é 1 ╨┤╨╛ 16*/
  width: 50%
  /* ╨║ ╤ê╨╕╤Ç╨╕╨╜╨╡ ╨┤╨╛╨▒╨░╨▓╨╕╨╗╨╕ 100/i* ╨╕ ╤é╨░╨║ ╨┤╨╛ 16 1╤Å-100%, 2╤Å- 93,75%, 3╤Å-87,5% 4╤Å-81,125% ╨╕ ╤é.╨┤. (╨╛╤é 100 ╨╛╤é╨╜╨╕╨╝╨░╨╡╨╝ 6,25, ╨╛╤é ╤ü╨╗╨╡╨┤ ╨╖╨╜╨░╤ç - 6,25 ╨╕ ╤é.╨┤)*/ }

/* ╨╖╨░╨┤╨░╨╗╨╕ ╨┤╨╕╨░╨┐╨░╨╖╨╛╨╜ ╨╛╤é 1 ╨┤╨╛ 16*/
/* 100/i (╨║╨╛╤é╨╛╤Ç╨╛╨╡ ╤Ç╨░╨▓╨╜╨╛ ╨╛╤é 1 ╨┤╨╛ 16)*/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/lessons\/4\.19\.16\/sass\/main\.scss}line{font-family:\0000315}}
.grd-step-column9 {
  /*╨╜╨░╨╖╨▓╨░╨╜╨╕╨╡ ╨║╨╛╨╗╨╛╨╜╨║╨╕ ╨╛╤é 1 ╨┤╨╛ 16*/
  width: 56.25%
  /* ╨║ ╤ê╨╕╤Ç╨╕╨╜╨╡ ╨┤╨╛╨▒╨░╨▓╨╕╨╗╨╕ 100/i* ╨╕ ╤é╨░╨║ ╨┤╨╛ 16 1╤Å-100%, 2╤Å- 93,75%, 3╤Å-87,5% 4╤Å-81,125% ╨╕ ╤é.╨┤. (╨╛╤é 100 ╨╛╤é╨╜╨╕╨╝╨░╨╡╨╝ 6,25, ╨╛╤é ╤ü╨╗╨╡╨┤ ╨╖╨╜╨░╤ç - 6,25 ╨╕ ╤é.╨┤)*/ }

/* ╨╖╨░╨┤╨░╨╗╨╕ ╨┤╨╕╨░╨┐╨░╨╖╨╛╨╜ ╨╛╤é 1 ╨┤╨╛ 16*/
/* 100/i (╨║╨╛╤é╨╛╤Ç╨╛╨╡ ╤Ç╨░╨▓╨╜╨╛ ╨╛╤é 1 ╨┤╨╛ 16)*/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/lessons\/4\.19\.16\/sass\/main\.scss}line{font-family:\0000315}}
.grd-step-column10 {
  /*╨╜╨░╨╖╨▓╨░╨╜╨╕╨╡ ╨║╨╛╨╗╨╛╨╜╨║╨╕ ╨╛╤é 1 ╨┤╨╛ 16*/
  width: 62.5%
  /* ╨║ ╤ê╨╕╤Ç╨╕╨╜╨╡ ╨┤╨╛╨▒╨░╨▓╨╕╨╗╨╕ 100/i* ╨╕ ╤é╨░╨║ ╨┤╨╛ 16 1╤Å-100%, 2╤Å- 93,75%, 3╤Å-87,5% 4╤Å-81,125% ╨╕ ╤é.╨┤. (╨╛╤é 100 ╨╛╤é╨╜╨╕╨╝╨░╨╡╨╝ 6,25, ╨╛╤é ╤ü╨╗╨╡╨┤ ╨╖╨╜╨░╤ç - 6,25 ╨╕ ╤é.╨┤)*/ }

/* ╨╖╨░╨┤╨░╨╗╨╕ ╨┤╨╕╨░╨┐╨░╨╖╨╛╨╜ ╨╛╤é 1 ╨┤╨╛ 16*/
/* 100/i (╨║╨╛╤é╨╛╤Ç╨╛╨╡ ╤Ç╨░╨▓╨╜╨╛ ╨╛╤é 1 ╨┤╨╛ 16)*/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/lessons\/4\.19\.16\/sass\/main\.scss}line{font-family:\0000315}}
.grd-step-column11 {
  /*╨╜╨░╨╖╨▓╨░╨╜╨╕╨╡ ╨║╨╛╨╗╨╛╨╜╨║╨╕ ╨╛╤é 1 ╨┤╨╛ 16*/
  width: 68.75%
  /* ╨║ ╤ê╨╕╤Ç╨╕╨╜╨╡ ╨┤╨╛╨▒╨░╨▓╨╕╨╗╨╕ 100/i* ╨╕ ╤é╨░╨║ ╨┤╨╛ 16 1╤Å-100%, 2╤Å- 93,75%, 3╤Å-87,5% 4╤Å-81,125% ╨╕ ╤é.╨┤. (╨╛╤é 100 ╨╛╤é╨╜╨╕╨╝╨░╨╡╨╝ 6,25, ╨╛╤é ╤ü╨╗╨╡╨┤ ╨╖╨╜╨░╤ç - 6,25 ╨╕ ╤é.╨┤)*/ }

/* ╨╖╨░╨┤╨░╨╗╨╕ ╨┤╨╕╨░╨┐╨░╨╖╨╛╨╜ ╨╛╤é 1 ╨┤╨╛ 16*/
/* 100/i (╨║╨╛╤é╨╛╤Ç╨╛╨╡ ╤Ç╨░╨▓╨╜╨╛ ╨╛╤é 1 ╨┤╨╛ 16)*/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/lessons\/4\.19\.16\/sass\/main\.scss}line{font-family:\0000315}}
.grd-step-column12 {
  /*╨╜╨░╨╖╨▓╨░╨╜╨╕╨╡ ╨║╨╛╨╗╨╛╨╜╨║╨╕ ╨╛╤é 1 ╨┤╨╛ 16*/
  width: 75%
  /* ╨║ ╤ê╨╕╤Ç╨╕╨╜╨╡ ╨┤╨╛╨▒╨░╨▓╨╕╨╗╨╕ 100/i* ╨╕ ╤é╨░╨║ ╨┤╨╛ 16 1╤Å-100%, 2╤Å- 93,75%, 3╤Å-87,5% 4╤Å-81,125% ╨╕ ╤é.╨┤. (╨╛╤é 100 ╨╛╤é╨╜╨╕╨╝╨░╨╡╨╝ 6,25, ╨╛╤é ╤ü╨╗╨╡╨┤ ╨╖╨╜╨░╤ç - 6,25 ╨╕ ╤é.╨┤)*/ }

/* ╨╖╨░╨┤╨░╨╗╨╕ ╨┤╨╕╨░╨┐╨░╨╖╨╛╨╜ ╨╛╤é 1 ╨┤╨╛ 16*/
/* 100/i (╨║╨╛╤é╨╛╤Ç╨╛╨╡ ╤Ç╨░╨▓╨╜╨╛ ╨╛╤é 1 ╨┤╨╛ 16)*/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/lessons\/4\.19\.16\/sass\/main\.scss}line{font-family:\0000315}}
.grd-step-column13 {
  /*╨╜╨░╨╖╨▓╨░╨╜╨╕╨╡ ╨║╨╛╨╗╨╛╨╜╨║╨╕ ╨╛╤é 1 ╨┤╨╛ 16*/
  width: 81.25%
  /* ╨║ ╤ê╨╕╤Ç╨╕╨╜╨╡ ╨┤╨╛╨▒╨░╨▓╨╕╨╗╨╕ 100/i* ╨╕ ╤é╨░╨║ ╨┤╨╛ 16 1╤Å-100%, 2╤Å- 93,75%, 3╤Å-87,5% 4╤Å-81,125% ╨╕ ╤é.╨┤. (╨╛╤é 100 ╨╛╤é╨╜╨╕╨╝╨░╨╡╨╝ 6,25, ╨╛╤é ╤ü╨╗╨╡╨┤ ╨╖╨╜╨░╤ç - 6,25 ╨╕ ╤é.╨┤)*/ }

/* ╨╖╨░╨┤╨░╨╗╨╕ ╨┤╨╕╨░╨┐╨░╨╖╨╛╨╜ ╨╛╤é 1 ╨┤╨╛ 16*/
/* 100/i (╨║╨╛╤é╨╛╤Ç╨╛╨╡ ╤Ç╨░╨▓╨╜╨╛ ╨╛╤é 1 ╨┤╨╛ 16)*/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/lessons\/4\.19\.16\/sass\/main\.scss}line{font-family:\0000315}}
.grd-step-column14 {
  /*╨╜╨░╨╖╨▓╨░╨╜╨╕╨╡ ╨║╨╛╨╗╨╛╨╜╨║╨╕ ╨╛╤é 1 ╨┤╨╛ 16*/
  width: 87.5%
  /* ╨║ ╤ê╨╕╤Ç╨╕╨╜╨╡ ╨┤╨╛╨▒╨░╨▓╨╕╨╗╨╕ 100/i* ╨╕ ╤é╨░╨║ ╨┤╨╛ 16 1╤Å-100%, 2╤Å- 93,75%, 3╤Å-87,5% 4╤Å-81,125% ╨╕ ╤é.╨┤. (╨╛╤é 100 ╨╛╤é╨╜╨╕╨╝╨░╨╡╨╝ 6,25, ╨╛╤é ╤ü╨╗╨╡╨┤ ╨╖╨╜╨░╤ç - 6,25 ╨╕ ╤é.╨┤)*/ }

/* ╨╖╨░╨┤╨░╨╗╨╕ ╨┤╨╕╨░╨┐╨░╨╖╨╛╨╜ ╨╛╤é 1 ╨┤╨╛ 16*/
/* 100/i (╨║╨╛╤é╨╛╤Ç╨╛╨╡ ╤Ç╨░╨▓╨╜╨╛ ╨╛╤é 1 ╨┤╨╛ 16)*/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/lessons\/4\.19\.16\/sass\/main\.scss}line{font-family:\0000315}}
.grd-step-column15 {
  /*╨╜╨░╨╖╨▓╨░╨╜╨╕╨╡ ╨║╨╛╨╗╨╛╨╜╨║╨╕ ╨╛╤é 1 ╨┤╨╛ 16*/
  width: 93.75%
  /* ╨║ ╤ê╨╕╤Ç╨╕╨╜╨╡ ╨┤╨╛╨▒╨░╨▓╨╕╨╗╨╕ 100/i* ╨╕ ╤é╨░╨║ ╨┤╨╛ 16 1╤Å-100%, 2╤Å- 93,75%, 3╤Å-87,5% 4╤Å-81,125% ╨╕ ╤é.╨┤. (╨╛╤é 100 ╨╛╤é╨╜╨╕╨╝╨░╨╡╨╝ 6,25, ╨╛╤é ╤ü╨╗╨╡╨┤ ╨╖╨╜╨░╤ç - 6,25 ╨╕ ╤é.╨┤)*/ }

/* ╨╖╨░╨┤╨░╨╗╨╕ ╨┤╨╕╨░╨┐╨░╨╖╨╛╨╜ ╨╛╤é 1 ╨┤╨╛ 16*/
/* 100/i (╨║╨╛╤é╨╛╤Ç╨╛╨╡ ╤Ç╨░╨▓╨╜╨╛ ╨╛╤é 1 ╨┤╨╛ 16)*/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/lessons\/4\.19\.16\/sass\/main\.scss}line{font-family:\0000315}}
.grd-step-column16 {
  /*╨╜╨░╨╖╨▓╨░╨╜╨╕╨╡ ╨║╨╛╨╗╨╛╨╜╨║╨╕ ╨╛╤é 1 ╨┤╨╛ 16*/
  width: 100%
  /* ╨║ ╤ê╨╕╤Ç╨╕╨╜╨╡ ╨┤╨╛╨▒╨░╨▓╨╕╨╗╨╕ 100/i* ╨╕ ╤é╨░╨║ ╨┤╨╛ 16 1╤Å-100%, 2╤Å- 93,75%, 3╤Å-87,5% 4╤Å-81,125% ╨╕ ╤é.╨┤. (╨╛╤é 100 ╨╛╤é╨╜╨╕╨╝╨░╨╡╨╝ 6,25, ╨╛╤é ╤ü╨╗╨╡╨┤ ╨╖╨╜╨░╤ç - 6,25 ╨╕ ╤é.╨┤)*/ }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/lessons\/4\.19\.16\/sass\/main\.scss}line{font-family:\0000320}}
.row {
  font-size: 0;
  /* ╨┤╨╡╤ä╨╛╨╗╤é╨╜╨╛╨╡ ╨┐╨╛╨▓╨╡╨┤╨╡╨╜╨╕╨╡ ╨▒╤Ç╨░╤â╨╖╨╡╤Ç╨░, ╨╜╨░╨┤╨╛ ╤ç╤é╨╛-╨▒╤ï ╤â╨▒╤Ç╨░╤é╤î ╨╛╤é╤ü╤é╤â╨┐╤ï ╨╝╨╡╨╢╨┤╤â ╨▒╨╗╨╛╨║╨░╨╝╨╕*/
  background: green
  /* ╨▓╨╡╤ê╨░╨╡╨╝ ╨┤╨╗╤Å ╨▒╨╗╨╛╨║╨╛╨▓ ╨╛╨┤╨╕╨╜╨╛╨║╨╛╨▓╨╛╨╣ ╨▓╤ï╤ü╨╛╤é╤ï*/ }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/student\/Desktop\/brain-acad\/lessons\/4\.19\.16\/sass\/main\.scss}line{font-family:\0000323}}
  .row [class*="grd-step-column"],
  .row [class*="grd-fill-column"] {
    display: inline-block;
    /* ╨╗╨╕╨▒╨╛ ╨╖╨░╨┤╨░╤é╤î display: table-cell*/
    vertical-align: top;
    font-size: 14px;
    padding: 0 5px;
    box-sizing: border-box; }

/* html height:100%
body height:100%
╨▓╨╛ ╨▓╤Ç╨░╨┐╨┐╨╡╤Ç ╨╗╨╛╨╢╨╕╨╝ header and content
footer ╨╗╨╛╨╢╨╕╨╝ ╨▓ body ╨╕ margin-top -...px*/
